<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cursos da Fatec Sorocaba</title>
    <style>
    body {
      font-family: Arial, sans-serif;
      background-color: #f4f4f4;
      padding: 20px;
      color: #333;
    }
    h1 {
      color: #750E49;
    }
    ul {
      background-color: #FFF5DE;
      padding: 20px;
      border-radius: 8px;
      box-shadow: 2px 2px 8px rgba(0,0,0,0.1);
    }
    li {
      margin-bottom: 8px;
    }
  </style>
</head>
<body>
    <h1>Cursos da Fatec Sorocaba</h1>
    <h2>Presenciais</h2>
    <ul>
        <li>Análise e Desenvolvimento de Sistemas</li>
        <li>Eletrônica Automotiva</li>
        <li>Gestão da Produção Industrial</li>
        <li>Logística</li>
        <li>Manufatura Avançada</li>
        <li>Processos Metalúrgicos</li>
        <li>Projetos Mecânicos</li>
        <li>Sistemas Biomédicos</li>
        <li>Tecnologia em Fabricação Mecânica</li>
    </ul>

    <h2>Ensino a Distância (EAD)</h2>
    <ul>
        <li>Gestão Empresarial</li>
    </ul>
</body>
</html>